.productContainer {
  display: flex;
  width: 1000px;
  height: 400px;
  box-shadow: 0 0 10px green;
  margin: 10px auto;
}

.linkContainer {
  background-color: black;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.componentContainer {
  width: 70%;
}
